p{
    font-family: Roboto;
}
.video-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
     width: 280px;
}
.video-stats{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(96, 96, 96);
}
.video-author{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 18px;
}
.video-decription{
    font-size: 14px;
    color: rgb(96, 96, 96);
    line-height: 20px;
    width: 280px;
    margin-bottom: 14px;
}
.apple-text{
    background-color: rgb(227, 65, 64);
    color: white;
    padding: 18px;
    font-size: 14px;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 50px;
}
.shop-now{
    text-decoration: none;
    color: white;
}
.shop-now:hover{
    text-decoration: underline;
    cursor: pointer;

}
